/* Dine styles her */

:root {
  --flow-space: 0.5rlh;
}

article {
  /* her giver vi alle elementer, untagen det første
    , margin-block-start på 0.5rlh som står for root
    line height og siger hvis den ikke findes så sæt den på 1em*/
  & > * + * {
    margin-block-start: var(--flow-space, 1em);
  }

  /* 2. For `h2`, sæt `—flow-space`-værdien til `2rlh`. */
  & h2 {
    --flow-space: 2rlh;
  }

  /* 3. For `h3`, sæt `—flow-space`-værdien til `1rlh`. */
  & h3 {
    --flow-space: 1rlh;

    /* 4. For alle elementer, der kommer lige 
    efter **`h3`**, reducér `—flow-space` til `.25rlh`. */

    & > {
      --flow-space: 0.25rlh;
    }
  }
}

/* jeg ændre på flow-space for at give den en anden diffination 
der hvor jeg vil hav den er anderles i forhold til de andre */
