---
const { cardContent } = Astro.props;

import "../styles/global.css";
---

<ul class="full-width scroll-element">
  {
    cardContent.map((card) => (
      <li>
        <h3>{card.title}</h3>
        <p>{card.body}</p>
      </li>
    ))
  }
</ul>

<style>
  ul {
    list-style: none;
  }
</style>
